html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	background: #fff;
	font-family: sans-serif;
}

.js .loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f1f1ef;
	display: block;
	z-index: 1000;
}

.js .polygon {
	position: absolute;
	background: #fff;
	width: 5em;
	height: 5em;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	-webkit-clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%);
	        clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%);
	-webkit-animation: square 3s cubic-bezier(0.175, .520, 0.100, 1) infinite;
	        animation: square 3s cubic-bezier(0.175, .520, 0.100, 1) infinite;
	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;
}

.js .loaded .polygon {
	-webkit-animation: squareblow 0.65s cubic-bezier(0.175, .520, 0.100, 1) 1 forwards;
	        animation: squareblow 0.65s cubic-bezier(0.175, .520, 0.100, 1) 1 forwards;
}

.js .loaded .loader {
	-webkit-animation: kill 0.1s 0.7s 1 forwards;
	        animation: kill 0.1s 0.7s 1 forwards;
}

.wrapper {
	position: absolute;
	background: #f1f1ef;
	min-height: 100%;
	width: 100%;
	overflow: auto;
}

.border {
	position: absolute;
	background: #fff;
	min-height: 100%;
	width: 100%;
	padding: 5em;
	-webkit-clip-path: polygon(1.9em 2.8em, 3.2em 95%, 98% 97%, 97% 2.2em);
	        clip-path: polygon(1.9em 2.8em, 3.2em 95%, 98% 97%, 97% 2.2em);
}

.js .loaded .content {
	display: block;
	-webkit-animation: fadeInUp 1s 0.7s cubic-bezier(0.175, .520, 0.100, 1) 1 forwards;
	        animation: fadeInUp 1s 0.7s cubic-bezier(0.175, .520, 0.100, 1) 1 forwards;
}

/* Temp */

h1 {
	margin-top: 1em;
	color: #333;
}

p {
	margin-top: 1em;
	color: #666;
}

/* Amimations */

@-webkit-keyframes square {
	0% { -webkit-clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%); clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%); }
	20% { -webkit-clip-path: polygon(3% 8%, 6% 96%, 98% 92%, 100% 0%); clip-path: polygon(3% 8%, 6% 96%, 98% 92%, 100% 0%); }
	40% { -webkit-clip-path: polygon(8% 0, 8% 92%, 93% 95%, 100% 8%); clip-path: polygon(8% 0, 8% 92%, 93% 95%, 100% 8%); }
	60% { -webkit-clip-path: polygon(4% 5%, 1% 92%, 99% 90%, 92% 2%); clip-path: polygon(4% 5%, 1% 92%, 99% 90%, 92% 2%); }
	80% { -webkit-clip-path: polygon(10% 0, 8% 97%, 93% 95%, 100% 8%); clip-path: polygon(10% 0, 8% 97%, 93% 95%, 100% 8%); }
	100% { -webkit-clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%); clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%); }
}

@keyframes square {
	0% { -webkit-clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%); clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%); }
	20% { -webkit-clip-path: polygon(3% 8%, 6% 96%, 98% 92%, 100% 0%); clip-path: polygon(3% 8%, 6% 96%, 98% 92%, 100% 0%); }
	40% { -webkit-clip-path: polygon(8% 0, 8% 92%, 93% 95%, 100% 8%); clip-path: polygon(8% 0, 8% 92%, 93% 95%, 100% 8%); }
	60% { -webkit-clip-path: polygon(4% 5%, 1% 92%, 99% 90%, 92% 2%); clip-path: polygon(4% 5%, 1% 92%, 99% 90%, 92% 2%); }
	80% { -webkit-clip-path: polygon(10% 0, 8% 97%, 93% 95%, 100% 8%); clip-path: polygon(10% 0, 8% 97%, 93% 95%, 100% 8%); }
	100% { -webkit-clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%); clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%); }
}

@-webkit-keyframes squareblow {
	0% { width: 4em; height: 4em; }
	100% { width: 100%; height: 100%; -webkit-clip-path: polygon(1.9em 2.8em, 3.2em 95%, 98% 97%, 97% 2.2em); clip-path: polygon(1.9em 2.8em, 3.2em 95%, 98% 97%, 97% 2.2em); }
}

@keyframes squareblow {
	0% { width: 4em; height: 4em; }
	100% { width: 100%; height: 100%; -webkit-clip-path: polygon(1.9em 2.8em, 3.2em 95%, 98% 97%, 97% 2.2em); clip-path: polygon(1.9em 2.8em, 3.2em 95%, 98% 97%, 97% 2.2em); }
}

@-webkit-keyframes fadeInUp { 
    0% { opacity: 0; -webkit-transform: translateY(20px); } 
    100% { opacity: 1; -webkit-transform: translateY(0); } 
} 

@keyframes fadeInUp { 
    0% { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); } 
    100% { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); } 
}

@-webkit-keyframes kill { 
    100% { opacity: 0; visibility: hidden; } 
}

@keyframes kill { 
    100% { opacity: 0; visibility: hidden; }
}