html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	background: #fff;
	font-family: sans-serif;
}

.js .loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f1f1ef;
	display: block;
	z-index: 1000;
}

.js .polygon {
	position: absolute;
	background: #fff;
	width: 5em;
	height: 5em;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	-webkit-clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%);
	        clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%);
	-webkit-animation: square 3s cubic-bezier(0.175, .520, 0.100, 1) infinite;
	        animation: square 3s cubic-bezier(0.175, .520, 0.100, 1) infinite;
	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;
}

.js .loaded .polygon {
	-webkit-animation: squareblow 0.25s cubic-bezier(0.175, .520, 0.100, 1) 1 forwards;
	        animation: squareblow 0.25s cubic-bezier(0.175, .520, 0.100, 1) 1 forwards;
}

.js .loaded .loader {
	display: none; /* DELAY THIS */
}

.wrapper {
	position: absolute;
	background: #f1f1ef;
	min-height: 100%;
	width: 100%;
}

.border {
	position: absolute;
	background: #fff;
	min-height: 100%;
	width: 100%;
	padding: 5em;
	-webkit-clip-path: polygon(1% 3%, 0.5% 98%, 99% 97%, 99.5% 3%);
	        clip-path: polygon(1% 3%, 0.5% 98%, 99% 97%, 99.5% 3%);
}

.js .content {
	display: none;
}

.js .loaded .content {
	/* CLEAN ALL THIS UP AND ADD A DELAY */
	display: block;
	-webkit-animation-duration: 0.5s; 
	animation-duration: 0.5s; 
	-webkit-animation-fill-mode: both; 
	animation-fill-mode: both; 
	-webkit-animation-timing-function: ease-in-out; 
	animation-timing-function: ease-in-out;
	-webkit-animation-name: fadeInUp; 
	animation-name: fadeInUp; 
}

/* Temp */

h1 {
	margin-top: 1em;
	color: #333;
}

p {
	margin-top: 1em;
	color: #666;
}

/* Amimations */

@-webkit-keyframes square {
	0% { -webkit-clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%); clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%); }
	20% { -webkit-clip-path: polygon(3% 8%, 6% 96%, 98% 92%, 100% 0%); clip-path: polygon(3% 8%, 6% 96%, 98% 92%, 100% 0%); }
	40% { -webkit-clip-path: polygon(6% 10%, 6% 94%, 90% 98%, 92% 8%); clip-path: polygon(6% 10%, 6% 94%, 90% 98%, 92% 8%); }
	60% { -webkit-clip-path: polygon(4% 5%, 1% 92%, 99% 90%, 92% 2%); clip-path: polygon(4% 5%, 1% 92%, 99% 90%, 92% 2%); }
	80% { -webkit-clip-path: polygon(10% 0, 8% 97%, 93% 95%, 100% 8%); clip-path: polygon(10% 0, 8% 97%, 93% 95%, 100% 8%); }
	100% { -webkit-clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%); clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%); }
}

@keyframes square {
	0% { -webkit-clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%); clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%); }
	20% { -webkit-clip-path: polygon(3% 8%, 6% 96%, 98% 92%, 100% 0%); clip-path: polygon(3% 8%, 6% 96%, 98% 92%, 100% 0%); }
	40% { -webkit-clip-path: polygon(6% 10%, 6% 94%, 90% 98%, 92% 8%); clip-path: polygon(6% 10%, 6% 94%, 90% 98%, 92% 8%); }
	60% { -webkit-clip-path: polygon(4% 5%, 1% 92%, 99% 90%, 92% 2%); clip-path: polygon(4% 5%, 1% 92%, 99% 90%, 92% 2%); }
	80% { -webkit-clip-path: polygon(10% 0, 8% 97%, 93% 95%, 100% 8%); clip-path: polygon(10% 0, 8% 97%, 93% 95%, 100% 8%); }
	100% { -webkit-clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%); clip-path: polygon(0 10%, 10% 90%, 100% 100%, 95% 5%); }
}

@-webkit-keyframes squareblow {
	0% { width: 4em; height: 4em; }
	100% { width: 100%; height: 100%; -webkit-clip-path: polygon(1% 3%, 0.5% 98%, 99% 97%, 99.5% 3%); clip-path: polygon(1% 3%, 0.5% 98%, 99% 97%, 99.5% 3%); }
}

@keyframes squareblow {
	0% { width: 4em; height: 4em; }
	100% { width: 100%; height: 100%; -webkit-clip-path: polygon(1% 3%, 0.5% 98%, 99% 97%, 99.5% 3%); clip-path: polygon(1% 3%, 0.5% 98%, 99% 97%, 99.5% 3%); }
}

@-webkit-keyframes fadeInUp { 
    0% { opacity: 0; -webkit-transform: translateY(20px); } 
    100% { opacity: 1; -webkit-transform: translateY(0); } 
} 

@keyframes fadeInUp { 
    0% { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); } 
    100% { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); } 
}